{% extends 'project.html.twig' %}

{% block title %}Projet - {{ project.title }}{% endblock %}
{% block titleproject %}{{ project.title }}{% endblock %}
{% block body %}
    <div class="project">
        <div class="container-fluid project-container">
            <div class="row project-view">
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4 global-col">
                        <div class="category-box">
                            <div class="category-box-header">
                                <h2>Toutes les fonctionnalités</h2>
                            </div>
                            <div class="features-box">
                                {% for category in project.categories %}
                                    {% for feature in category.features | sort((a, b) => a.feature.sortBy > b.feature.sortBy) %}
                                        <div class="feature-box">
                                            <div class="feature-id h3">{{ feature.id }}</div>
                                            <div class="feature-content">
                                                <h3 class="feature-title">{{ feature.title }}</h3>
                                                <div class="feature-job_value h3">{{ feature.jobValue }}</div>
                                            </div>
                                            <div class="feature-developp-button"><img src="{{ asset('assets/img/details.png') }}" alt="details"></img></div>
                                            <div class="feature-developp">
                                                <div>
                                                    <div class="wrap-edit"><span class="description-title h3">Description</span><button class="btn display-popup feature" data-popup="-edit_feature" data-title="{{ feature.title }}" data-job="{{ feature.jobValue }}" data-description="{{ feature.description }}" data-validation="{{ feature.acceptationValidation }}" data-id="{{ feature.id }}" data-sort="{{ feature.sortBy }}"><img class="edit" src="{{ asset('assets/img/edit.png') }}" alt="edit"></img></button></div>
                                                    <p class="description">{{ feature.description }}</p>
                                                </div>
                                                <div>
                                                    <span class="validation-title h3">Critères d’acceptation</span>
                                                    <p class="validation">{{ feature.acceptationValidation }}</p>
                                                </div>
                                            </div>
                                            <div class="feature-action">
                                                {% set feature = {'id': feature.id, 'project': project.id} %}
                                                {% include 'feature/_delete_form.html.twig' with feature %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% for category in project.categories %}
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4 project-col">
                        <div class="category-box">
                            <div class="category-box-header">
                                <h2>{{ category.title }}</h2>
                                {% set categoryform = {'id': category.id, 'project': project.id} %}
                                {% include 'category/_delete_form.html.twig' with categoryform %}
                            </div>
                            <div class="features-box">
                                {% for feature in category.features | sort((a, b) => a.feature.sortBy > b.feature.sortBy) %}
                                    <div class="feature-box">
                                        <div class="feature-id h3">{{ feature.id }}</div>
                                        <div class="feature-content">
                                            <h3 class="feature-title">{{ feature.title }}</h3>
                                            <div class="feature-job_value h3">{{ feature.jobValue }}</div>
                                            <div class="description">{{ feature.description }}</div>
                                            <div class="validation">{{ feature.acceptationValidation }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="category-action add-feature display-popup" data-category="{{ category.id }}" data-popup="-new_feature">
                                <div class="h2">Ajouter une fonctionnalité</div>
                                <img src="{{ asset('assets/img/plus.png') }}" alt="plus"></img>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% set project = {'project': project.id} %}
    {% include 'category/_popup_new_category.html.twig' with project %}
{% endblock %}
{% block javascripts_front %}
    <script src="{{ asset('build/project.js') }}"></script>
{% endblock %}
